@{
    ViewBag.Title = "Ohjeet";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Kirjautumistunnukset saa pääkäyttäjältä <a href="mailto:paakayttaja@careeria.fi">paakayttaja@careeria.fi</a>.</p>
    <p>Tunnuksilla voit luoda tiketin laiteongelmalle tai yhteysongelmalle. Oman sähköpostiosoitteesi lisäksi, 
    tulee täyttää vain laitteen nimi/numero/kuvaus, ongelman kuvaus sekä yhteysongelmissa valita yhteyden tyyppi.
    Kun lähetät tiketin, saat tikettinumeron, jolla it-tuki käsittelee tikettisi.<br />
    Voit luoda useamman tiketin tarvittaessa.
    </p>
</main>