@{
    ViewBag.Title = "Tiketti";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @*<h1 id="title">Tiketti</h1>*@
        <p class="lead">Sattui virhe, kirjaudu ulos tai valitse ylläolevista linkeistä.</p>
    </section>

    @*<div class="row">
        <section class="col-md-4">
            <p><h4>@ViewBag.LoggedStatus</h4></p>
        </section>

    </div>*@
</main>