@model TikettiDB.Models.Kirjautuminen

@{
    ViewBag.Title = "Kirjaudu sisään";
}

@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }

        });
    </script>
}

@{
    Html.RenderPartial("_LoginModal");
}
<center>
    <img src="~/Pictures/logo-vaaka.png" width="300" />

</center>
<div class="login-page-container">

    @using (Html.BeginForm("Authorize", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row justify-content-around">
            <div class="col-4">
                <center>
                    <p></p>
                    <p><h2>Tervetuloa Tiketti-sovellukseen!</h2></p>
                    <br />
                    <p><button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Kirjaudu</button></p>
                </center>
            </div>
            <div class="col-4">
                <img src="~/Pictures/hand.png" width="500" />
            </div>
        </div>

    }
</div>