@model IEnumerable<TikettiDB.Models.Tikettitiedot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
<a href="~/Tikettitiedot/Create">Laiteongelma</a>
<a href="~/Tikettitiedot/Create2">Yhteysongelma</a>
</p>
