
@{
    ViewBag.Title = "Kuittaus";
}

<h2>Kuittaus</h2>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tiketin lähetys onnistui</title>
</head>
<body>
    <div>
        <p>Tiketin lähetys onnistui! Tikettisi käsitellään numerolla  @Model.TikettiID </p>
        <p>Voit kirjautua ulos tai jättää uuden tiketin!</p>
    </div>
</body>
</html>