@model TikettiDB.Models.Tikettitiedot

@{
    ViewBag.Title = "Tiketti";
}

<h2>Tiketti-järjestelmä</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


  <p>Tervetuloa tikettien käsittelyyn, valitse ylläolevista vaihtoehdoista!</p>
  <p></p>
  <br />


}