@model TikettiDB.Models.Tikettitiedot

@{
    ViewBag.Title = "Tiketti";
}

<h2>Tiketti</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        <h4>Tähän tulee IT-puolen eka näkymä</h4>
        <hr />
}