@model TikettiDB.Models.Tikettitiedot

@{
    ViewBag.Title = "Tiketti";
}

<h2>Tiketti</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


  <p>Tervetuloa IT-tuen tikettien käsittelyyn, valitse ylläolevista vaihtoehdoista!</p>

        <hr />
}